HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
fe/.env

### application.properties ###
**/src/main/resources/application.yaml

### AI - Datasets ###
AI/datasets
AI/datasets_zip
AI/yolov8-test/images
AI/yolov8-test/Aquarium

### AI - Models ###


### AI - MMDetection ###
AI/object-detection/practice/mmdetection

### AI - YOLO ###
AI/weigths
AI/runs

BackEnd/src/main/resources/properties/env.properties
Hls/src/main/resources/properties/env.properties

Split/src/main/resources/properties/env.properties
Split/gradle/wrapper/gradle-wrapper.properties