.header {
    display: flex;
    /* height: 80px; */
    width: 100vw;
    background-color: orange;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}




.logo-img {
    width:80px;
    height:80px;
    margin: 30px;
    background-color: white;
}



.search-form {
    display: flex;
    transition: 250ms;
}
/* .search-form:focus-within {
    transform: scale(1.2);
} */

.search-form-input {
    height: 40px;
    min-width: 300px;
    padding: 0 5px;
    border: 0;
    border-radius: 3px;
}
/* .search-form-input:focus {
    transform: scale(1.2);
} */

.search-form-btn {
    height: 40px;
    width: 60px;
    margin-left: 1px;
    border: 0;
    background-color:bisque;
    border-radius: 3px;
}
.search-form-btn:hover {
    cursor: pointer;
    background-color:rgb(246, 255, 0);
    font-size: large;
}

@keyframes search-wiggle{
    50%{
        -webkit-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
.search-form-btn-icon {
    width: 30px;
    height: 30px;
    transition: 200ms;
}
.search-form-btn-icon:hover {
    /* animation: search-wiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
    transform: scale(1.5);
}