.filter-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    z-index: 5;
    width: 50vh;
    height: 80vh;
    min-width: 300px;
    min-height: 800px;
    border-radius: 10px;
    background-color: rgb(255, 186, 101);
    transition: 250ms;
    animation: filter-container-open;
    animation-duration: 100ms;
}
@keyframes filter-container-open{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes filter-container-close{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
.filter-word{
    /* border: 1px solid black; */
    /* width: 60px; */
    height: 30px;
    border-radius: 3px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: large;
    transition: 250ms;
    /* clear: both;
    float: left; */
}

.filter-word:hover{
    cursor:pointer;
    transform: scale(1.2);
}

.filtered{
    background-color: red;
    color: white;
}

.unfiltered{
    background-color: aquamarine;
}

.filter-word-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-options{
    display: flex;
    justify-content: space-between;
}

.filter-modes{
    display: flex;
}

.filter-mode-btn{
    border: 1px solid black;
    clear: both;
    float: left;
    text-align: center;
}
.filter-mode-btn:hover{
    background-color: aquamarine;
    cursor:pointer;
}
